
<div class="container", "relative">
	<div class="row-fluid">
		<img src="https://scontent-b-iad.xx.fbcdn.net/hphotos-frc3/t1/1780905_10202890965853658_40410507_n.jpg" HEIGHT="130" WIDTH="160">
		<h1>About Me</h1>
		<p> I'm a sophomore at Princeton University studying electrical engineering and earning a 
			certificate in applications of computing. I'm very interested in learning efficiently 
			and finding ways to quickly process information. Upon entering college, I discovered engineering
			and computer science and have found these areas extremely exciting.
			I'm also very excited about startups and technology.
		</p>
		<p> I hope to use this blog as a way to
			share some of the thought processes behind the projects I've been doing and as a way
			to document the progress of somebody who's just beginning to enter the world
			of engineering and computer science.
		</p>
	</div>
</div>