<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="center hero-unit">
  <h1>Welcome to Ed's Blog</h1>

<%= link_to 'ENTER', posts_path, 
	class:"btn btn-primary btn-lg btn-default"  %>
</div>
